<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>Authetical_filter</filter-name>
        <filter-class>filters.Authetical_filter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Authetical_filter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMenuServlet</servlet-name>
        <servlet-class>controller.GetMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrderServlet</servlet-name>
        <servlet-class>controller.GetOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserServlet</servlet-name>
        <servlet-class>controller.GetUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMealServlet</servlet-name>
        <servlet-class>controller.SearchMealServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderView</servlet-name>
        <servlet-class>View.OrderView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserView</servlet-name>
        <servlet-class>View.UserView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccServlet</servlet-name>
        <servlet-class>controller.UpdateAccServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrderServlet</servlet-name>
        <servlet-class>controller.AddOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrderServlet</servlet-name>
        <url-pattern>/GetOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMenuServlet</servlet-name>
        <url-pattern>/GetMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserServlet</servlet-name>
        <url-pattern>/GetUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMealServlet</servlet-name>
        <url-pattern>/SearchMealServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderView</servlet-name>
        <url-pattern>/OrderView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserView</servlet-name>
        <url-pattern>/UserView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccServlet</servlet-name>
        <url-pattern>/UpdateAccServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrderServlet</servlet-name>
        <url-pattern>/AddOrderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
</web-app>
